@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* blog post form */
.postForm {
  text-align: center;
}

.postForm h1 {
  padding-bottom: 20px;
}

.quillWrapper {
  text-align: left;
}

.row-m {
  padding: 20px 0 20px 0;
}

/* admin main content */
.main-content {
  padding: 5px 10px 5px 74px;
}

/* admin nav */
.admin-nav-container {
  height: 100%;
}

.admin-nav {
  height: 100%;
  position: fixed;
}
.admin-nav a {
  text-decoration: none;
  color: white;
}
.admin-nav a span {
  padding-left: 12px;
}

.expanded {
  position: absolute;
  z-index: 1000;
}

.admin-nav.expanded a span {
  margin-right: 200px;
}
