@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Solway:400,500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#default-nav span {
  font-family: "Solway", serif;
  font-weight: 400;
  font-size: 15px;
  color: #303133;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.quillWrapper {
  text-align: left;
}

.row-m {
  padding: 20px 0 20px 0;
}
/* blog post form */
.postForm {
  text-align: center;
}

.postForm h1 {
  margin: 20px;
}
/* Admin Blog Card */
.blogCard {
  position: relative;
  padding: 0px;
  margin: 20px 0 20px 0;
}
.blogCard .el-card__header {
  padding: 10px 15px 10px 15px;
}
.blogCard h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}
.blogCard .postDate {
  margin: 5px 0 0 0;
  color: rgb(156, 156, 156);
}
.blogCard .el-card__body {
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 15px 0px 15px;
  margin: 5px 0 45px 0;
}
.blogCard p {
  font-size: 14px;
  margin: 5px 0 5px 0;
}
.blogCard img {
  width: 100%;
}
.blogCard .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.blogCard .el-button {
  margin: 0;
  width: 50%;
}
/* Admin Main Content*/
.main-content {
  padding: 5px 10px 5px 53px;
}
.main-content h1 {
  padding-left: 5px;
  font-size: 25px;
  font-weight: 700;
}
/* Admin Nav */
.admin-nav-container {
  height: 100%;
}

.admin-nav {
  height: 100%;
  position: fixed;
  width: 45px;
  z-index: 1000;
}
.admin-nav:not(.el-menu--collapse) {
  width: 100vw;
}
.admin-nav.el-menu--collapse span {
  display: none;
}
.admin-nav .el-menu-item {
  padding-left: 10px !important;
}

.admin-nav a {
  text-decoration: none;
  color: white;
}
.admin-nav a span {
  padding-left: 12px;
}

/* Admin Schedule */
.admin-calendar .vdp-datepicker__calendar {
  width: 100%;
}
.schedule-card {
  margin: 10px 0 10px 0;
  width: 95%;
  /* height: 70px; */
}
.schedule-card p {
  margin: 0;
  padding: 5px 0 10px 0;
  font-size: 13px;
}
.schedule-card h2 {
  margin: 0;
  /* padding: 0 10px 0 10px; */
  font-size: 17px;
}
.schedule-card .details {
  margin: 13px;
}
.schedule-card .nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60px;
}

.schedule-card .nav .el-button {
  margin: 0;
  height: 50%;
}

.schedule-card .el-card__body {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

/* uploadform */
.uploadform {
  text-align: center;
}
.admin-upload .el-upload {
  width: 100%;
}
.el-upload-dragger {
  margin: 0;
  width: 100%;
}
.photo-category {
  width: 100%;
  margin-bottom: 20px;
}
.uploadform .el-button {
  margin-top: 20px;
  width: 100%;
}
